body {
  color: white;
  background-color: black;
  font-size: 15px;
  margin-left: 30%;
  margin-right:30%;
  font-family: 'Lato', sans-serif;
}

#images {
  height: 400px;
  width: 600px;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#buttonBox {
  text-align:center;
  display: inline-block;
}

button{
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 22px;
  font-size: 14px;
  border: none;
  background-color: 2A833E ;
}

#box {
  border: 5px solid white;
  padding: 10px;
  display: inline-block;
  width:;
  
}

#items{
  padding:10px;
  border:3px solid white;
  color:white;
}
